<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary text-center ">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th class="bg-body-tertiary">Nombre</th>
              <th class="bg-body-tertiary ">Ciudad</th>
              <th class="bg-body-tertiary">Estado</th>
              <th class="bg-body-tertiary text-center">Celular</th>
              <th class="bg-body-tertiary">Correo</th>
              <th class="bg-body-tertiary text-center">Agencia</th>
              <th class="bg-body-tertiary">Ubicación</th>
            </tr>
            </thead>
            <tbody>
                <tr   *ngFor="let customer of customerList" (click)="verCliente(customer)" style="cursor: pointer;" >
                    <th scope="row">{{customer.id}}</th>
                    <td style="min-width: 300px;"><p>{{customer.name}}</p></td>
                    <td style="min-width: 150px;">{{customer.city}}</td>
                    <td>{{customer.state}}</td>
                    <td>{{customer.cellphone}}</td>
                    <td>{{customer.email}}</td>
                    <td style="min-width: 200px;">{{customer.publication.carName}}</td>
                    <td style="min-width: 150px;">{{customer.publication.agency}}</td>
                  </tr>
            
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>